<a href="https://colab.research.google.com/github/AleksIvanVel/Computadoras-y-Programacion/blob/main/Fundamentos2_CyP_1157(23_11_2021).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SELECCION MULTIPLE
En python no existe switch
se emplea la parlaabra reservada#

### elif < condicion >

Por ejemplo en lenguaje c y java seria de la forma:

float SUE=0.0;
int CATE= 0;

printf("Introduzca la categoria");
scanf("%i", &CATE);
printf("Introduzca el sueldo");
scanf(%f", %SUE)

switch (CATE)
{
    case 1:
        SUE=SUE*1.15;
        break;
    case 2:
        SUE=SUE*1.10;
        break;
    case 3:
        SUE=SUE*1.08;
        break;
    case 4:
        SUE=SUE*1.07;
        break;
}
printf('Categropia=)%i, Sueldo=%f',CATE,SUE)

In [1]:
#ejemplo 2.7

NUM = int(input("dame un numero entre 1 y 3:"))
V = float(input("Dame un valor float:"))
VAL = 0
if NUM == 1:
    VAL = 100 * V
elif NUM == 2:
    VAL = 100 ** V
elif NUM == 3 :
    VAL =100/V
else:
    VAL = 0
 
print(VAL)

dame un numero entre 1 y 3:2
Dame un valor float:2.5
100000.0

In [ ]:
#EJEMPLO 2.8

CATE= int(input("Ingresa la categoria de tu sueldo 1, 2, 3 o 4: "))
SUE= float(input("Ingresa tu sueldo: "))
NSUE=0 

if CATE==1:
    NSUE= SUE*1.15
elif CATE==2:
    NSUE= SUE*1.10
elif CATE==3:
    NSUE= SUE*1.08
elif CATE==4:
    NSUE= SUE*1.07
else:
    NSUE=0
print("La categoria de su sueldo es:", CATE," El sueldo ingresado es:", SUE, ",  su aumento es: " )
print(NSUE)

In [12]:
a=int(input("Ingresa un valor entero: "))
b=int(input("Ingresa otro valor entero diferente: "))
c=int(input("Ingresa otro valor entero diferente a los anteriores: "))

if a>b:
    if a>c:
        if b>c:
            print(a, b, c)
        else:
            print(a, c, b)
    else:
        print(c, a, b)

else:   
    if b>c:
        if a>c:
            print(b, a, c)
        else:
            print(b, c, a)
    else:
        print(c, b, a)

print(f"FIN DEL PROGRAMA")

Ingresa un valor entero: 18
Ingresa otro valor entero diferente: 20
Ingresa otro valor entero diferente a los anteriores: 10
20 18 10
FIN DEL PROGRAMA

In [ ]:
#problema 2.14
TIPOENF=int(input("Introduce el tipo de enfemredad: "))
EDAD=int(input("Introduce la edad: "))
DIAS=int(input("Introduce el numeor de dias: "))
COSTO= 0.0
if TIPOENF==1:
    COSTO= DIAS*25.0

elif TIPOENF==2:
    COSTO= DIAS*16.0
elif TIPOENF==3:
    COSTO= DIAS*20.0
elif TIPOENF==4:
    COSTO= DIAS*32.0

if EDAD>=14 and EDAD<=22:
    COSTO= COSTO* 1.10

print("Costo total= $",COSTO)