<a href="https://colab.research.google.com/github/AleksIvanVel/Computadoras-y-Programacion/blob/main/fundamentosCyP1157(04_11_2021).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# datos de entrada 

Para solicitar los datos del usuario se emplea la función input. La cual regresa siempre, un tipo de dato String.

In [ ]:
nombre = input("Ingresa tu nombre")
print("Tecleaste:" , nombre )

#¿Como capturar datos numericos?
Para ello se hace una conversación entre tipo...
casting.. consiste en llamr al constructor de la clase desedad.

## Ejemplo convertir el string "2" en numero
### num = int("2")

In [ ]:
entrada = input("Dame tu edad: ")
edad = int(entrada)
edad += 1 #edad = edad + 1
print("Tu edad es: ", edad)

Dame tu edad: 18
Tu edad es:  19

In [ ]:
# lo anterior pero más corto o más fácil

edad = int( input("Dame tu edad: ") )
print("tu edad es: ", edad+1 )

#estatura con float para numeros con decimal
estatura = float( input("Dame tu estatura: ") )
print("tu estatura es: ", estatura+0.1 )

Dame tu edad: 18
tu edad es:  19
Dame tu estatura: 1.65
tu estatura es:  1.75

In [ ]:
# input booleans
#convertir a entero int
casada = bool(int(input("Soltero (0) casado (1)")))
print("casada=", casada )

Soltera (0) casada (1)0
casada= False

*tipos de ddato estructurado
1. Listas
2. Tuplas
3. Diccionarios
4. COnjjuntos (opciopnal)

# Listas
- Tipo de dato que agrupa variables o valores.
- Estructura secuencial (undexados empezando por 0)
- Se declara de 2 formas#
     - usando []
     - usando list()
     - usando un generador
- Puede contener tipos de datos diversos ( En otros lenguajes de programación esto no es posible de forma directa)
- Los elemntos internos se selccionas con []
- Soporta slicing
- Generadores [var for x in range ( 10 )]
- Son mutables

In [ ]:
lista = [10, 5, 2, 6, 3]
print(lista)

lista2 = list()
lista2.append(10)
lista2.append(5)
lista2.append(2)
lista2.append(15)
lista2.append(22)
print(lista2)
lista[2] = 20
print(lista)
lista[3] = 8
print(lista)
lista[-1] = 15
print(lista)

In [ ]:
# tipos diversos

cosas = [12, 2, True, "Aleks", 1.70, ["Sandia", "kiwi", "uva"]]
print(cosas)
print(cosas[1])
print(cosas[ 4 ])
print(cosas[ 5 ])
print(cosas[ 5][1])
print(cosas[ 3][1:3])
cosas[3] = cosas[3].upper()
print(cosas)

In [ ]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
print(numeros)
#slicing
# 1.- 4 al 8
print( numeros[3:8] ) 
# 2: [9,10]
print( numeros[8:10] )
print( numeros[-3:-1] )
#3:.- imprimir la lista en orden inverso
print( numeros[::-1] )

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# crear una lista con un generador
numeros = [x*3 for x in range(101)]
print(numeros)
numeros = [x for x in range(101)]
print(numeros)
numeros = [x for x in range(1001)]
print(numeros)
numeros = [x for x in range(50, 101)]
print(numeros)
numeros = [x for x in range(50, 101, 5)]
print(numeros)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]
[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

# función range()

tiene los mismo componentes que slicing
inicio, stop, incremento
range(1, 101, 1)

#metodos disponibles de las listas

In [ ]:
dir(list)

In [ ]:
numeros = [ 4, 1, 15, 8, 22, 72, 28]
print(numeros)
numeros.append(99)
print(numeros)
#numeros.clear()
#alternativa
numeros = []

frutas = ["uvas", "kiwi", "manzana"]
copia = frutas
print( frutas )
print( copia )
frutas.append("fresa")
print( frutas )
print( copia ) #copia de referencia


colores = ["rojo", "morado", "negro"]
copia2 = colores.copy()
print( colores )
print( copia2 )
colores.append("verde")
print( colores )
print( copia2 )
numeros = [ 4, 1, 15, 8, 22, 72, 28]
print(numeros)


numeros.append(99)
print("Numero de veces que aprece el 72=", numeros.count(72))

#estend
nombres = ["Jose", "pedro", "jesus"]
otrosNombres = ["Josue", "diana", "dennis"]
print(nombres)
print(otrosNombres)
nombres = nombres + otrosNombres
print(nombres)
print(otrosNombres)

#lo mismo con el método extend
otrosNombres.extend(["Jesus", "Maria", "Jose"])
print(otrosNombres)
print("Jesus esta en la posicion: ", otrosNombres.index("Jesus"))
otrosNombres.insert(4, "Espiritu santo")
print(otrosNombres) #insertar en una posicion especifica

# pop
resultado = otrosNombres.pop()
print(otrosNombres)
print(resultado)

[4, 1, 15, 8, 22, 72, 28]
[4, 1, 15, 8, 22, 72, 28, 99]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', 'fresa']
['uvas', 'kiwi', 'manzana', 'fresa']
['rojo', 'morado', 'negro']
['rojo', 'morado', 'negro']
['rojo', 'morado', 'negro', 'verde']
['rojo', 'morado', 'negro']
[4, 1, 15, 8, 22, 72, 28]
Numero de veces que aprece el 72= 1
['Jose', 'pedro', 'jesus']
['Josue', 'diana', 'dennis']
['Jose', 'pedro', 'jesus', 'Josue', 'diana', 'dennis']
['Josue', 'diana', 'dennis']
['Josue', 'diana', 'dennis', 'Jesus', 'Maria', 'Jose']
Jesus esta en la posicion:  3
['Josue', 'diana', 'dennis', 'Jesus', 'Espiritu santo', 'Maria', 'Jose']
['Josue', 'diana', 'dennis', 'Jesus', 'Espiritu santo', 'Maria']
Jose

#Tuplas 

###Caracteristicas de las tuplas
- Datos agrupados.
- Se declara usando#
  - "()"
  - "tuple()"
- Estructura secuencial (esta indexada a partir de cero). 
- pueden tener 0 a n elementos. 
- NO SON MUTABLES (no se puede eleminiar y/o cambiar). 
- Son buenas para almacenar informacion de consulta. 
- Pueden almacenar informaciuon de diferentes tipos de datos.
- Pueden estar anidadas 
- Tienen metodos útiles

In [ ]:
info = ("juan23" , "dios1234" , "123.232.1.12")
print(info)
print(info[1])
#info[1]="patito23"

numeros = (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print(numeros)
print(numeros [5:11])

cosas = (info,numeros)
print(cosas)
print(cosas[1][5:11:1])
print(cosas[0][2][4:7])
print(cosas[0][2][-8:-5])

('juan23', 'dios1234', '123.232.1.12')
dios1234
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(5, 6, 7, 8, 9, 10)
(('juan23', 'dios1234', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232
232

# Métodos de las tuplas
En resumen son los mismos de las listas, pero los que no involucre mutabilidad

In [ ]:
dir(tuple)

# Diccionarios 
### Características de los diccionarios 
- Agrupan datos, pero de forma no lineal
- Se declaran con: 
  - { }
  - dic{ }
- Formado por pares del tipo llave:valor, donde: 
  - llave: es de tipo string
  - valor: puede ser de cualquier tipo de dato, incluyendo los diccionarios 
- Se seleccionan con la llave de la forma ["id_llave"]
- Son mutables
- Son anidables
- SOn equivalentes al tipo de dato JOSN del lenguaje JavaScript (JS)

In [ ]:
alumno = {"nombre":"José" }
print(alumno)
print( alumno["nombre"])

alumno = {"nombre":"José", "nc": "319077632", "edad": 18}
print("Edad del alumno=", alumno["edad"])
print(alumno["nombre"].upper())

print("----------------------------")
alumno2= dict()
alumno2["nombre"]= "José"
print(alumno2) 
alumno2["nc"]= "319077632"
alumno2["edad"]= 18
print(alumno2)

print("-----------------------------")
alumno2["edad"]= alumno2["edad"]+1
print(alumno2)

{'nombre': 'José'}
José
Edad del alumno= 18
JOSÉ
----------------------------
{'nombre': 'José'}
{'nombre': 'José', 'nc': '319077632', 'edad': 18}
-----------------------------
{'nombre': 'José', 'nc': '319077632', 'edad': 19}

In [4]:
cliente= { "id":"CT2121", 
          "nombre":"José Pedroza Rosales", 
          "telefonos":"casa=55446535 celular=0445528544632" }
print(cliente)

cliente= { "id":"CT2121", 
          "nombre": {
              "nombres_pila":["José", "Eduardo"],
              "paterno":"Pedroza",
              "materno":"Rosales"
                    }, 
          "telefonos":{
              "casa":"5544653528",
              "trabajo":"554463265",
              "celular":"0445528544632"
                      }, 
          "productos":{
                      "ahorro":{"numero_cuenta":"7788", "ahorro":2500.5},
                      "tarjetas":[
                                  {"tipo": "debioto", "saldo":10000.50},
                                  {"tipo": "credito preferemte", "limite": 250000.20},
                                  {"tipo":"lite", "limite":150000.50}
                                 ]   
                      },
          "direccion":{
                        "calle":"AV. centrla",
                        "numero":1245,
                        "colonia": "Impulsora",
                        "delegacion": "Neza",
                        "estado":{
                                  "clave":15,
                                  "nombre_corto":"EdoMex",
                                  "nombre":"Estado de México"
                        }
              
                      }
          }

print(cliente["telefonos"]["casa"])
print("---------------------")
print("El cliente tiene ahorrado:",cliente["productos"]["ahorro"]["ahorro"])
print(cliente["productos"]["tarjetas"][2]["limite"])
print(cliente["direccion"]["estado"]["nombre"].upper())
cliente["productos"]["ahorro"]["ahorro"]-=1500
print(cliente["productos"]["ahorro"]["ahorro"])

{'id': 'CT2121', 'nombre': 'José Pedroza Rosales', 'telefonos': 'casa=55446535 celular=0445528544632'}
5544653528
---------------------
El cliente tiene ahorrado: 2500.5
150000.5
ESTADO DE MÉXICO
1000.5

In [8]:
#Diccionario de la pelicula "La hera de hielo"
pelicula= {
            "saga":"La hera de hielo",
           "nombre": ["La hera de hielo 1", "La hera de hielo 2","La hera de hielo 3","La hera de hielo 4","La hera de hielo 5"],
           "genero":"animado",
           "publico":"infantil",
           "clasificación":"A+"
           }

print(pelicula["saga"])
print(pelicula["clasificación"])
print(pelicula["nombre"][2])

La hera de hielo
A+
La hera de hielo 3